<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Aakash Timetable</title>
</head>
<body>
    <form action="http://0.0.0.0:8000" method="post">
        <div class="text-xs text-clip sm:text-sm">
        {% for class_name in class_names %}
            <div class="{{class_name}} border-2 rounded-lg border-green-600 p-4 m-4 ">
                {{class_name}}

                <table class="table-auto m-2">
                    <thead>
                        <tr>
                            <th class="text-left">Period</th>
                            {% for day in days %}
                                <th class="pr-4 text-left">{{day}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    {% for i in range(1, 3)%}

                    <tbody>
                    <tr>
                        <th class="text-left">Period {{i}}</th>
                        {% for day in days %}
                            <th>
                                <select name="{{class_name}}-{{day}}-Period-{{i}}" >
                                    {% for period in period_codes %}
                                        <option class="text-left" value="{{period}}">{{period}}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        {% endfor %}
                    </tr>

                    {% endfor %}
                    
                </table>
            </div>
        {% endfor %}
        </div>

        <div class="ml-4">Start Date: <input type="datetime-local" class="ml-4 mb-4 p-2" name="date-start" id="date-start"> </div>
        <div class="ml-4">End Date: <input type="datetime-local" class="ml-4 mb-4 p-2" name="date-end" id="date-end"> </div>

        <button type="submit" class="ml-4 mb-4 p-2 border-2 rounded-lg border-green-600 hover:bg-green-600 transition-all">
            Download
        </button>
    </form>

    <div class="m-4">
        <p class="explanation">
            Enter all the extra periods to be added to the timetable, seperated by commas <br>
            like this: <code>Term 1, Diwali, Term 2</code>
        </p>
        <input type="text" class="extra-codes w-1/3 border-2 rounded-lg border-green-600 p-2 mb-4 mt-4" > <br>
        <button class="add-codes-button mb-4 p-2 border-2 rounded-lg border-green-600 hover:bg-green-600 transition-all">Add Codes</button>
    </div>

    <div class="credits m-4">
        Made by <a href="https://github.com/mulitate4" target="_blank" class="text-green-600 underline">Aryan Dongre</a>
    </div>

    <script src="{{url_for('static',filename='js/misc_functions.js')}}" type="module"></script>
    <script type="module">
        import {AEL, $, redirect, log} from "{{url_for('static',filename='js/misc_functions.js')}}";

        AEL($('.add-codes-button'), 'click', () => {
            let extra_codes = $(".extra-codes").value
            redirect('?extra_codes=' + extra_codes)
        })
    </script>
</body>
</html>